<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>Mellon</title>
        <link rel="stylesheet" href="./css/mellon.css">
        <link rel="stylesheet" href="./vendor/bootstrap.min.css">
        <link rel="stylesheet" href="./vendor/bootstrap-theme.min.css">
	</head>
	<body>
        {{{ body }}}
	</body>
</html>
