<!DOCTYPE html>
<html lang='en'>
	<header>
		<meta charset='utf-8'>
		<title>Mellon</title>
        <link rel="stylesheet" href="./css/mellon.css">
	</header>
	<body>
		<section id='react'></section>
		<script src='./js/bundle.js'></script>
	</body>
</html>