<section id='react'></section>
<script>
    Mellon = {
        triggers: {{{triggers}}},
        aliases: {{{aliases}}},
        config: {{{config}}}
    };
</script>
<script src='./js/bundle.js'></script>
<script src='/socket.io/socket.io.js'></script>

