<section id='react'></section>
<script src='./js/bundle.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script>
    triggers = {{{triggers}}};
    aliases =  {{{aliases}}};
    config =  {{{config}}};
</script>
