.characterInfo {
    padding: 10px 0;

    ul {
        display: inline-block;
        list-style: none;
        font-family: ‘Lucida Console’, Monaco, monospace;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        padding: 0 10px;
        margin: 0;
        border-left: 1px dashed black;
    }

    ul:first-child {
        border-left: none;
        padding-left: 0;
    }
}
