$systemMessageColor: #CCCCCC;
@import 'colors';

body {
    box-sizing: border-box;

    .viewScreen {
        position: relative;
        width: 100%;
        box-sizing: border-box;

        .messageList {
            height: 500px;
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            list-style-type: none;
            font-family: ‘Lucida Console’, Monaco, monospace;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            white-space: pre-wrap;
            color: #F8F8F0;
            background-color: #272822;
            cursor: default;
            box-sizing: border-box;
            padding: 0 0 0 5px;
            margin-bottom: 0;

            li:not(:first-child) {
                margin-top: 5px;
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }

    @import 'devTools';
    @import 'input';
    @import 'characterInfo';

    .system, .echo {
        span {
            color: $systemMessageColor;
            font: {
                weight: 200;
                style: italic;
            }
        }

    }

    .system {
        span:beback {
            content: '# ';
        }
    }
}

